# Aprendizaje No Supervizado - Cluster

* Ejemplo
* Algo de Teoría
* ¿Cuantos cluster son importantes?
* Temas relacionados

In [2]:
#Entono para exploració y tratamiento de los datos
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#configuracion Matplotlib
plt.rcParams["figure.figsize"] = (12, 5)
plt.rcParams['figure.titlesize'] = 'large'
plt.rcParams['font.size'] = 12
plt.rcParams['axes.titlesize']=15

In [51]:
Datos=pd.read_table("DataSets/kddcup.data.txt",sep=',',quotechar= '.',header=None,prefix='X',nrows=2000000)

In [52]:
Datos.head()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X32,X33,X34,X35,X36,X37,X38,X39,X40,X41
0,0,tcp,http,SF,215,45076,0,0,0,0,...,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,162,4528,0,0,0,0,...,1,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,236,1228,0,0,0,0,...,2,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,233,2032,0,0,0,0,...,3,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,239,486,0,0,0,0,...,4,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,normal.

In [53]:
Datos.shape

(2000000, 42)

In [54]:
Datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 42 columns):
X0     int64
X1     object
X2     object
X3     object
X4     int64
X5     int64
X6     int64
X7     int64
X8     int64
X9     int64
X10    int64
X11    int64
X12    int64
X13    int64
X14    int64
X15    int64
X16    int64
X17    int64
X18    int64
X19    int64
X20    int64
X21    int64
X22    int64
X23    int64
X24    float64
X25    float64
X26    float64
X27    float64
X28    float64
X29    float64
X30    float64
X31    int64
X32    int64
X33    float64
X34    float64
X35    float64
X36    float64
X37    float64
X38    float64
X39    float64
X40    float64
X41    object
dtypes: float64(15), int64(23), object(4)
memory usage: 640.9+ MB

In [55]:
Datos.X41.value_counts()

smurf.              839558
normal.             712267
neptune.            411215
satan.               15878
ipsweep.              8602
portsweep.            6391
nmap.                 2316
back.                 2103
warezclient.          1020
teardrop.              397
pod.                   102
guess_passwd.           53
warezmaster.            20
land.                   17
buffer_overflow.        12
imap.                   12
ftp_write.               8
loadmodule.              8
rootkit.                 7
multihop.                7
phf.                     3
spy.                     2
perl.                    2
Name: X41, dtype: int64

In [56]:
Datos.X1.value_counts()

tcp     1072989
icmp     854482
udp       72529
Name: X1, dtype: int64

In [57]:
Datos.X2.value_counts()

ecr_i          842210
http           532677
private        411928
smtp            68415
domain_u        47090
ftp_data        28260
other           21343
eco_i           11538
finger           4511
ftp              3599
ntp_u            3015
telnet           2516
auth             2169
pop_3            1061
time              727
urp_i             574
domain            455
gopher            434
ssh               431
rje               428
mtp               428
remote_job        428
link              427
whois             427
ctf               427
name              427
imap4             423
discard           414
echo              414
daytime           414
                ...
csnet_ns          410
Z39_50            409
sql_net           409
netbios_ns        409
vmnet             409
sunrpc            409
pop_2             409
netbios_dgm       409
uucp_path         409
bgp               409
printer           408
klogin            407
efs               407
exec              407
courier           407
kshell            407
http_443          405
nnsp              405
ldap              405
IRC               308
urh_i             146
X11                42
red_i               9
tim_i               5
pm_dump             4
tftp_u              3
aol                 2
harvest             2
http_8001           2
http_2784           1
Name: X2, Length: 70, dtype: int64

In [58]:
Datos.X3.value_counts()

SF        1532771
S0         413441
REJ         45418
RSTR         6001
SH           1039
RSTO          625
S1            412
S2            122
RSTOS0        112
S3             40
OTH            19
Name: X3, dtype: int64

Se omiten las variables categóricas

In [60]:
Datos_C=Datos.iloc[:,~ Datos.columns.isin(['X0','X1','X2','X3','X41'])]

In [61]:
Datos_C.head()

,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,...,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40
0,215,45076,0,0,0,0,0,1,0,0,...,0,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
1,162,4528,0,0,0,0,0,1,0,0,...,1,1,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0
2,236,1228,0,0,0,0,0,1,0,0,...,2,2,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0
3,233,2032,0,0,0,0,0,1,0,0,...,3,3,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0
4,239,486,0,0,0,0,0,1,0,0,...,4,4,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0

In [64]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit_predict(Datos_C)

array([0, 0, 0, ..., 0, 0, 0], dtype=int32)

In [66]:
kmeans.labels_

3